 body{
        background-color: #000;
         font-family: sans-serif;
      }
      h2{
        text-align: center;
        color: white;
      }
      #buffer{
        display: none;
      }
      #player{
        /*        border: 1px solid green;*/
        background: url("images/player.png") no-repeat scroll 0 0 transparent;
        height: 40px;
        width: 35px;
        position: absolute;
        display: block;
        z-index: 20;
      }
      .explode{
        background: url("images/explode.gif") no-repeat scroll -1px 1px transparent !important;
        height: 78px !important;
        width: 75px !important;
        z-index: 50 !important;
      }

      .enemy_ship{
        /*        border: 1px solid green;*/
        background: url("images/enemy.png") no-repeat scroll 0 0 transparent;
        height: 40px;
        width: 35px;
        position: absolute;
        display: block;
        z-index: 20;
      }

      #playground, #welcome{
        background: none repeat scroll 0 0 black;
        display: none;
        height: 332px;
        width: 500px;
        margin: 0 auto;
      }
      #background-0{
        background: url("images/background0.png") repeat scroll 0 0 transparent;
        display: block;
        height: 230px;
        position: absolute;
        width: 500px;
        z-index: 10;
      }
      #background-1{
        background: url("images/background1.png") repeat-x scroll 0 48px transparent;
        display: block;
        height: 332px;
        position: absolute;
        width: 500px;
        z-index: 11;
      }
      #background-2{
        background: url("images/background2.png") repeat-x scroll 0 38px transparent;
        display: block;
        height: 331px;
        position: absolute;
        width: 500px;
        z-index: 12;
      }
      .missile_bullet{
        background: url("images/bullet1.png") no-repeat scroll 0 0 transparent;
        width:20px;
        height: 10px;
        position: absolute;
        display: none;
        z-index: 30;
      }
      #hud{
        height: 25px;
        width: 500px;
        margin:  auto;
        display: none;
      }
      #dist{
        height: 15px;
        color: #fff;
        padding: 5px 4px;
        float: left;
      }
      #score{
        height: 15px;
        color: #fff;
        padding: 5px 4px;
        float: right;
      }
      #loading{
        color: #fff;
        text-align: center;
        font-size: 14px;
      }
      #bar{
        width: 400px;
        background: blue;
        height: 20px;
        margin: 0 auto;
      }
      #bar #progress{
        background: red;
        height: 100%;
        width: 0%;
      }
      #debug{
        margin: 0 auto;
        color: #fff;
        height: 200px;        
        overflow: auto;
        text-align: left;
        font-family: 'Arial';
        font-size: 10px;
        width: 70%;

      }
      #welcome{
        display: block;
        text-align: center;
        padding:  44px 0 0 0;
        color: #fff;
      }
      #welcome h4{
        font-size: 25px;
      }
      #welcome #status{
        color: red;
        font-size: 22px;
      }
      #welcome #start{
        text-align: center;

        cursor: pointer;
      }
      #controlls{
        display: none;
        background: red;
        display: block;
        width: 500px;
        margin: 0 auto;
        padding: 2px;
      }
      .clear{clear: both;}
      #controlls #up{
        height: 40px;
        width: 40px;
        display: block;
        background: blue;
        margin: 4px;
      }
      #controlls #left{float:left;}
      #controlls #shoot{
        float: left;
      }
      #controlls #down{
        height: 40px;
        width: 40px;
        display: block;
        background: yellow;
        margin: 4px;
      }

      #controlls #shoot{
        height: 40px;
        width: 40px;
        float: right;
        background: white;
        margin: 25px 4px 4px;
      }
